<link rel="stylesheet" href="/stylesheets/main.css" />

<h2>Below are the most Recent Wine Reviews</h2>
<br>
<br>

<% @winereviews.each do |winereview| %>
    <div class="boxed-reviews">
     <h3><strong>Name: </strong><a href="/winereviews/<%= winereview.id %>"><%= winereview.wine_name %></a></h3>
   
    <p><Strong>Notes:</strong> <%= winereview.wine_notes %></p>
    <p><strong>Rating:</strong> <%= winereview.wine_rating %>/10</p>
    <h6><strong>Rated on: </strong><%= winereview.time_created_at %></a></h6>
    <p>By <%= winereview.user_id %></p>
    </div><br>
<% end %>

   
